.tarif {
  display: flex;
  min-height: 100vh;
  width: 100%;
  font-family: Roboto, sans-serif;
  background-color: #ffffff;
  color: #575f7b;
}

.container_t {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  margin: 0 auto;
}
.wrapper_box {
  min-width: 50rem;
  margin: 0 auto;
}
.wrapper_box .rotate {
  height: 25px;
  width: 25px;
  margin: 0 auto;
  margin-bottom: -15px;
  transform: rotate(45deg);
  z-index: 1;
  background-color: #eff0f2;
}
.icon_wrapper {
  margin: 2rem;
  text-align: start;
}
.back_icon {
  font-size: 1.8rem;
  font-weight: 2800;
}

.header_t {
  margin-top: 2.1rem;
  margin-bottom: 1.8rem;
}
.header_t > .tarif_beitrag {
  margin: auto;
  font-size: 2rem;
  color: #002d5d;
}
.header_t h4 {
  margin: auto;
}

.tarif_btn button {
  min-height: 3rem;
  min-width: 100%;
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border-radius: 4px;
  background: #e35d50;
  cursor: pointer;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
}
